/**
 * Таблица каскадных стилей, используемых в плагине
 *
 * @author  Андрей Г. Воронов <andreyv@gladcode.ru>
 * @copyrights  Copyright &copy; 2012, Андрей Г. Воронов<br>
 *              Является частью плагина Opinion<br>
 * @version 1.0 от 11.10.12 08:19 - Создание файла стилей.<br>
 *
 * @package plugins/opinion
 */
.strength .count.count-add { background: #def7dc !important; }
.strength .count.count-remove { background: #ff8a8a !important; }
.strength .count.count-none { }

.strength .count.count-add span {font-size: 10px; color: #a9a9a9;}
.strength .count.count-remove span{font-size: 10px; color: white;}
.strength .count span {font-size: 10px; color: #a9a9a9;}

.table-votes th { font-weight: bold !important; }

.cell-vote-count { text-align: center !important; }
.cell-vote-count.good-vote { color: #27964c; text-shadow:#dce1e6 0 1px 1px; font-weight: bold; font-size: 18px;}
.cell-vote-count.bad-vote { color: #da4242; text-shadow:#dce1e6 0 1px 1px; font-weight: bold; font-size: 18px;}

.vote-line.good-vote {}
.vote-line.bad-vote { background-color: rgba(100,0,0,0.11);}
.vote-line.bad-vote:hover td { background-color: rgba(100,0,0,0.12);}

.cell-vote-types { text-align: center !important; font-style: italic;}


